@model shoptar.Core.Domain.Spaceship

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Spaceship</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreatedAt" />

            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="TypeName" class="control-label">Type</label>
                <input asp-for="TypeName" class="form-control" />
                <span asp-validation-for="TypeName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="BuiltDate" class="control-label">Build Date</label>
                <input asp-for="BuiltDate" type="date" class="form-control" />
                <span asp-validation-for="BuiltDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Crew" class="control-label"></label>
                <input asp-for="Crew" class="form-control" />
                <span asp-validation-for="Crew" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="EnginePower" class="control-label">Engine Power</label>
                <input asp-for="EnginePower" class="form-control" />
                <span asp-validation-for="EnginePower" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Passengers" class="control-label"></label>
                <input asp-for="Passengers" class="form-control" />
                <span asp-validation-for="Passengers" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="InnerVolume" class="control-label">Inner Volume</label>
                <input asp-for="InnerVolume" class="form-control" />
                <span asp-validation-for="InnerVolume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>